---
import { Image } from 'astro:assets';

import MainLayout from '../layouts/main.astro';

import Salem from '../images/salem.png';
---

<MainLayout title="404: Not found">
	<section class="flex flex-col content-center text-center pt-3">
		<Image
			style={{ margin: '0 auto', clipPath: 'circle(50% at 50% 50%)' }}
			src={Salem}
			alt="Salem"
			width="300"
			height="300"
		/>
		<h1 class="mt-10">NOT FOUND</h1>
		<p>You just hit a route that doesn&#39;t exist... the sadness.</p>
	</section>
</MainLayout>
