---
import slugify from 'slugify';

interface Props {
	tags: string[];
}

const { tags } = Astro.props;

const getTagClass = () => {
	return 'text-sm px-2 py-1 rounded border border-gray-200 dark:border-gray-600 text-gray-600 dark:text-gray-400 hover:border-gray-400 dark:hover:border-gray-400 hover:text-gray-900 dark:hover:text-gray-200';
};
---

{
	tags.length && (
		<ul class="list-none flex flex-wrap gap-2">
			{tags.map((tag) => {
				const tagSlug = slugify(tag, {
					lower: true,
					strict: true,
				});

				return (
					<li>
						<a href={`/blog/tag/${tag}`} class={getTagClass()}>
							{tag}
						</a>
					</li>
				);
			})}
		</ul>
	)
}
