---
import slugify from 'slugify';
import { twMerge } from 'tailwind-merge';

export const tagStyles = {
	gatsbyjs: 'bg-violet-700 text-white hover:bg-violet-900',
	development: 'bg-green-600 text-white hover:bg-green-800',
	travel: 'bg-yellow-500 hover:bg-yellow-600 bg:text-white',
	fontawesome: 'bg-blue-900 text-white hover:bg-blue-700',
	video: 'bg-red-500 text-white hover:bg-red-600',
	nextjs: 'bg-gray-900 text-white hover:bg-gray-700',
};

export type TagType = keyof typeof tagStyles;

interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

{
	tags.length && (
		<ul class="list-none flex">
			{tags.map((tag) => {
				const tagSlug = slugify(tag, {
					lower: true,
					strict: true,
				}) as TagType;

				return (
					<li
						class={twMerge(
							'mr-2 px-3 py-1 rounded-md bg-gray-300 text-gray-800 hover:bg-gray-400',
							tagStyles[tagSlug],
						)}
					>
						<a href={`/blog/tag/${tag}`}>{tag}</a>
					</li>
				);
			})}
		</ul>
	)
}
