---
import Themes from 'astro-themes';
import { ViewTransitions } from 'astro:transitions';
import { SEO, type Props as SeoProps } from 'astro-seo';

import '@fontsource/roboto';
import '@fontsource/open-sans';
import '@fontsource/open-sans/700.css';

import '../styles/base.css';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { getOgImageUrl } from '../lib/images';

interface Props {
	title: string;
	description?: string;
	openGraph?: Partial<SeoProps['openGraph']>;
}

const { title, description, openGraph } = Astro.props;

const ogImageUrl = getOgImageUrl(title, description);

const defaultOpenGraph: SeoProps['openGraph'] = {
	basic: {
		title: `${title} - Eduardo Reveles`,
		url: 'https://www.osiux.ws/',
		type: 'website',
		image: ogImageUrl,
	},
	optional: {
		locale: 'en_US',
		siteName: 'Eduardo Reveles',
	},
};
---

<html lang="en">
	<head>
		<Themes />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,user-scalable=yes"
		/>
		<SEO
			title={title}
			titleTemplate="%s - Eduardo Reveles"
			description={description ?? "Personal website for Eduardo Reveles"}
			charset="utf-8"
			twitter={{
				creator: '@osiux',
			}}
			openGraph={{
				...defaultOpenGraph,
				...openGraph,
			}}
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/><link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/><link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/><link rel="manifest" href="/site.webmanifest" /><meta
			name="theme-color"
			content="#111827"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<div
			class="h-screen antialiased grid grid-rows-layout max-w-3xl mx-auto w-full py-6 px-3 md:max-w-4xl md:px-0 md:pt-0 md:pb-16"
		>
			<main class="my-4 md:my-10">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
